header {
  margin-left: 2%;
  margin-top: 2%;
  text-align: center;
  position: fixed;
  display: block;
  z-index: 1;
}

img:hover {
  opacity: .5;
}

.lava {
  max-width: 378px;
  max-height: 733px;
  background-color: #ed6f69;
  margin-bottom: 7px;
}
.lava2 {
  max-width: 128px;
  max-height: 240px;
  background-color: #ed6f69;
  margin-bottom: 7px;
}
.yellow {
  max-width: 378px;
  max-height: 420px;
  background-color: #ebf8a2;
  margin-bottom: 7px;
}
.yellow2 {
  max-width: 128px;
  max-height: 240px;
  background-color: #ebf8a2;
  margin-bottom: 7px;
}
.silver {
  max-width: 378px;
  max-height: 306px;
  background-color: #bbb9b9;
  margin-bottom: 7px;
}
.white {
  max-width: 128px;
  max-height: 240px;
  background-color: white;
  margin-bottom: 7px;
}
.aqua {
  max-width: 544px;
  max-height: 720px;
  background-color: #b8cdd4;
  margin-bottom: 7px;
}
.coral {
  max-width: 378px;
  max-height: 360px;
  background-color: #ed6679;
  margin-bottom: 7px;
}
.charcoal {
  max-width: 378px;
  max-height: 360px;
  background-color: #89909e;
  margin-bottom: 7px;
}

footer {
  position: fixed;
  bottom: 25px;
  left: 25px;
  font-family: helvetica;
  color: dimgrey;
}

a {
  text-decoration: none;
  color: dimgrey;
}

a:hover {
  color: #ed6679;
}

.fb {
  position: fixed;
  bottom: 35px;
  right: 160px;
}

.insta {
  position: fixed;
  bottom: 35px;
  right: 105px;
}

.email {
  position: fixed;
  bottom: 35px;
  right: 40px;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
}

h2 {
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 2px;
  text-align: center;
  color: grey;
  padding-top: 100px;
}

p {
  padding: 0;
  margin: 0;
}


@media screen and (max-device-width: 780px) {
  .logo {
    margin-left: 2%;
    margin-top: 2%;
    text-align: center;
    position: fixed;
    display: block;
    z-index: 1;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


  img {
    display: inline-flex;
    width: 100%;
    height: 100%;
  }

  .lava {
    width: 100%;
    margin-top: 90px;
  }
  .lava2 {
    width: 100%;
  }
  .yellow {
    width: 100%;
  }
  .yellow2 {
    width: 100%;
  }
  .silver {
    width: 100%;
  }
  .white {
    width: 100%;
  }
  .aqua {
    width: 100%;
  }
  .coral {
    width: 100%;
  }
  .charcoal {
    width: 100%;
  }

  .container {
    margin-bottom: 180px;
  }
}
